.flexFooter{
    width: 100%;
    background-color: rgb(179, 221, 95);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 3em 0 3em 0;
    margin-top: 3em;
  }
  
  .footerDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .boldP{
    font-weight: bold;
  }